.cover-photo {
  display: block;
  text-align: left;
  width: 150px;
  margin-bottom: 10px;
  /*padding: 20px 0;*/
  box-sizing: border-box;
}

/* Provider type ex. video/music */
p {
  display: block;
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}

/* Provider name */
h2 {
  text-decoration: none;
  font-size: 16px;
  /*color: #2B2E31;*/
  color: rgba(255,255,255,0.88);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  margin: 0;
}

/* set only image height from html ! */
img {
  height: 150px;
  width:auto;
  max-width:100%;
  /* height:auto; */
}
