/* Main rules */

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-bottom: 30px;
  background-color: #fff;
  color: #000;
}

.container {
  width: 90%;
  margin: 0 auto;
}


/* Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

/* Tablets, Ipads (portrait) Screen - 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 760px;
    margin: 0 auto;
  }
}

/* Low Resolution Tablets, Mobiles (Landscape) Screen - 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) { 
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

/* Most of the Smartphones Mobiles (Portrait) Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}


/* Typography */

h1 {
  font-weight: 800;
  transition: all 0.35s ease-out;
}

h2 {
  font-weight: 800;
}

a {
  color: #000;
  text-decoration: none;
  transition: all 0.35s ease-out;
}


/* Nav */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul a {
  font-weight: 600;
}

a h1:hover, ul a:hover {
  color: #1DE9B6;
}
