.imgResponsive {
  width: 145px;
  height: 200px;
  /*vertical-align: text-bottom;*/
}

.MediaItemList {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}

.MediaItemList a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 1281px) {
  .MediaItemList a {
    width: 14%;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .MediaItemList a {
    width: 20%;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .MediaItemList a {
    width: 25%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .MediaItemList a {
    width: 49%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .MediaItemList a {
    width: 98%;
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;

}

h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

}

.itemLink {
  position: relative;
}

.itemTitle {
  /* text-decoration: none;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px; */
  /*font: 12px sans-serif;*/
  /*display: block;*/
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  margin: 5px;
}


.ItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  background-color: #263238;
  color: #1DE9B6;
  opacity: 0;
  visibility: hidden;
}
