.imgResponsive {
  /*position: relative;*/
  /*display: inline-block;*/
  width: 150px;
  /*height: 200px;*/
  height: auto;
  /*vertical-align: top;*/
  /*vertical-align: text-bottom;*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/*
.imgResponsive:hover {
  /*webkit-filter: grayscale(50%) blur(1px); /* Chrome, Safari, Opera */
  /*filter: grayscale(50%) blur(1px);
  -webkit-filter: brightness(0.50);
}*/

.playIcon {
	color: #fff;
	text-align: center;
	position: absolute;
	top: 40%;
	/*left: 50%;*/
  /*
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 250%;
	padding: 2px;
	border: 1px solid #fff;
	line-height: 1;
	opacity: 1;
  */
  font-size: 32px;
}


.imgResponsive:hover .playIcon {
	opacity: 1;
}

.MediaItemList {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}

.MediaItemList a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 1281px) {
  .MediaItemList a {
    width: 14%;
  }
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .MediaItemList a {
    width: 20%;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .MediaItemList a {
    width: 25%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .MediaItemList a {
    width: 49%;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .MediaItemList a {
    width: 98%;
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;

}

h3 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

}

.itemLink {
  position: relative;
}

.itemTitle {
  /* text-decoration: none;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px; */
  /*font: 12px sans-serif;*/
  /*display: block;*/
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  margin: 5px;
}


.ItemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 100%;
  background-color: #263238;
  color: #1DE9B6;
  opacity: 0;
  visibility: hidden;
}
