/* Disable links outline */
*:focus {
  outline: none;
}

.navbar-theme {
  background-color: #282828;
}

/*
.navbar-dropdown:active {
  background-color: #555555;
}
*/

.navbar-theme .dropdown-menu {
  background-color: #282828;
  padding-top: 10px;
  padding-bottom: 11px;
  width: 250px !important;
}

.navbar-theme .dropdown-menu > a {
  color: #ffffff; /* rgba(255,255,255,0.88);*/
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

}

.navbar-theme .dropdown-menu > a:hover,
.navbar-theme .dropdown-menu > a:focus {
  background-color: #555555;
  background-image: none;
}

.navbar-theme .dropdown-divider {
  border-color: #333333;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	background-color: #555555;
}


.dropdown-item-label {
  position: relative;
  left: 20px;
}

.dropdown-item-icon {
  color: rgba(255,255,255,.4);
  font-size: 20px;
  margin-left: -4px;
  margin-right: 8px;
}

.dropdown-main-item-icon {
  color: rgba(255,255,255,.4);
  font-size: 22px;
  transform: scale(1.1,1.1);
  margin-top: 5px;
  /*margin-left: -2px;
  margin-right: 10px;*/
}


/* Remove arrow from dropdown */
.dropdown-toggle::after {
  display: none;
}

.sk-searchbox {
  /*
  float: left;
  border-radius: 2px 0 0 2px;
  padding-left: 10px;
  width: 564px;
  height: 30px;
  line-height: 35px;
  background: #fff;
  border-right: none;
  border: 1px solid rgba(255,255,255,0.2);
  font-family: "Roboto", "Noto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline-color: rgba(255, 255, 255, 0.88);
  outline-style: none;
  outline-width: 0px;
  border-right:none;
  color: rgba(255,255,255,0.88);
  background-color: rgba(10,15,10,1.00);
  */
  outline-color: rgba(255, 255, 255, 0.88);
  outline-style: none;
  outline-width: 0px;
 
  background: #fff;
  outline-color: rgba(255, 255, 255, 0.88);
  outline-style: none;
  outline-width: 0px;
  border: 1px solid rgba(255,255,255,0.2);

  color: rgba(255,255,255,0.88);
  background-color: rgba(10,15,10,1.00);

}

.sk-searchbox:focus {
  border: 1px solid #355E9B;
  color: rgba(255,255,255,0.88);
  background-color: rgba(10,15,10,1.00);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}



