.EntryList {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-content: center;
}

.EntryList a {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 1281px) {
  .EntryList a {
    width: 14%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .EntryList a {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .EntryList a {
    width: 25%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .EntryList a {
    width: 49%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .EntryList a {
    width: 98%;
  }
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

